ion-toolbar ion-title {
  text-align: center;
}
ion-img {
  background: var(--ion-color-secondary-tint);
}
ion-avatar {
  width: 46px;
  height: 46px;
  padding: 0;
  margin: 0 10px 0 0;
}
ion-avatar ion-chip {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 0;
  justify-content: center;
}
