.studio-images {
  background: var(--ion-color-primary-contrast);
  padding: 10px 10px 0 10px;
  border: solid 1px #eee;
}

.studio-images .swiper-pagination.swiper-pagination-bullets {
  position: relative;
  bottom: 0;
  margin: 10px;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: var(--ion-color-primary);
}
.studio-images__image {
  max-height: 32vh !important;
}

.opening-times {
  width: 100%;
}
.opening-times th {
  background: var(--ion-color-primary);
  color: #fff;
}
.opening-times th,
.opening-times td {
  padding: 5px 8px;
  text-align: center;
  border: solid 1px #fff;
}
.opening-times td {
  background: #ccc;
}